@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.topPic{
    width: 100%;
}
.topPic video{
    width: 100%;
}
.picFont{
    position: absolute;
    top: 550px;
    left: 100px;
    padding: 10px;
    width: 300px;
    text-align: left;
    font-size: 25px;
    color: white;
    font-weight: bold;
    background-color: rgba(6, 136, 255, 0.51);
}
.gaishu{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
    background-image: url("../img/Boeing/dreamliner-family.jpg");
    background-attachment: fixed;
    background-size: cover;

}
.introduction>p{
    font-size: 15px;
}
.gaishu>img{
    text-align: center;
    width: 60%;
    height: 60%;
    margin-left: 500px;
}
.gaishu h2{
    margin-bottom: 30px;
    font-size: 30px;
}
.midPic{
    padding-top: 20px;
    width: 100%;
    margin-bottom: 30px;
    background-color: rgba(238, 238, 238, 0.41);
    background-size:100%;

}
#video {
    text-align: center;
}
#video h2{
    margin-left: 520px;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: -50px;
}
.table{
    padding-left: 50px;
}
.mainTable{
    text-align: center;
}
.mainTable td{
    width: 300px;
    height: 40px;
    padding: 10px;

}
.mainTable th{
    width: 300px;
    height: 40px;
    padding: 10px;
    background-color: rgba(162, 205, 240, 0.47);
}
.align-center{
    background-color: #5e7b8d;
}
.align-left{
    background-color: rgba(203, 150, 169, 0.42);
}

