@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.topPic{
    width: 100%;
    text-align: center;
    margin-bottom: -7px;
}
.topPic img{
    width: 100%;
}
.picFont{
    position: absolute;
    top: 500px;
    left: 100px;
    padding: 10px;
    width: 350px;
    text-align: left;
    font-size: 25px;
    color: white;
    background-color: rgba(59, 133, 83, 0.51);
}
.gaishu{
    margin-top: -3px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("../img/GE/hero-ge9x-top.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: #ffffff;
}
.introduction>p{
    font-size: 15px;
}
.gaishu h2{
    margin-bottom: 30px;
    font-size: 30px;
}
.midPic{
    width: 100%;
    margin-bottom: -57px;
}
.midPic video{
    width: 100%;
}
#vF{
    position: relative;
    top: -200px;
    left: 50px;
    width: 300px;
    color: #ffffff;
    font-size: 40px;
}
.table{
    width: 100%;
    background-image: url("../img/GE/hero-ge9x-2.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: -10px;
    color: white;
}
#button{
    margin-left: 60px;
    margin-right: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
}
#button p{
    font-size: 15px;
    margin-top: 10px;
}
#button h2{
    font-weight: lighter;
    font-size: 40px;
}
